<template>
    <div>
        <div class="border-2 border-blue-500"></div>
        <div class="bg-gray-100 antialiased font-sans">
          <header class="relative z-10 lg:px-16 px-8 bg-white flex flex-wrap items-center py-4 shadow-md rounded-lg">
            <div class="flex-1 flex justify-between items-center"></div>

            <label for="menu-toggle" class="menu-toggle pointer-cursor md:hidden block">
                Login
            </label>
            <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
            </div>
          </header>
        </div>
    </div>
</template>

<style>
.menu-toggle{
    position: relative;
    top: 7px;
    width: 39px;
    height: 40px;
    text-align: left;
    letter-spacing: 0.84px;
    color: #319795;
    opacity: 1;
    font-weight: 700;
}
</style>
