<template>
    <div class="container">
        <TheHeader />
        <div class="hero_title">
            <h1>Deine Job website</h1>
        </div>
        <img src="../assets/images/bg_img.png" class="title_bg" />
        <div>
            <div class="main-border lg:px-16 px-8 bg-white flex flex-wrap items-center py-4 hero_banner_button">
                <button class="text-white font-bold py-2 px-4 rounded w-full btn-color to-blue-500">
                Kostenlos Registrieren
                </button>
            </div>
            <div class="toggle">
                <div class="flex flex-wrap">
                    <div class="w-full tab_list_wrp">
                        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                                <a class="text-xs font-bold-400 px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'text-green-700 bg-white': openTab !== 1, 'text-white tab-btn-color': openTab === 1}">
                                Arbeitnehmer
                                </a>
                            </li>
                            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                                <a class="text-xs font-bold-400 px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'text-green-700 bg-white': openTab !== 2, 'text-white tab-btn-color': openTab === 2}">
                                Arbeitgeber
                                </a>
                            </li>
                            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                                <a class="text-xs font-bold-400 px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'text-green-700 bg-white': openTab !== 3, 'text-white tab-btn-color': openTab === 3}">
                                Temporärbüro
                                </a>
                            </li>
                        </ul>
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6   rounded">
                            <div class="py-5 flex-auto">
                                <div class="tab-content tab-space tab_title">
                                    <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
                                        <div class="tab_wrp">
                                            <div class="tab-content_1">
                                            <p>
                                                Drei einfache Schritte zu deinem neuen Job
                                            </p>
                                            <img src="../assets/images/undraw_Profile_da.png" />
                                                <div class="image_caption">
                                                    <span>1.</span>
                                                    <p>Erstellen dein Lebenslauf</p>
                                                </div>
                                            </div>
                                            <div class="tab-content_2">
                                                <div class="image_caption">
                                                    <span>2.</span>
                                                    <p>Erstellen dein Lebenslauf</p>
                                                </div>
                                                <img src="../assets/images/undraw_task_31wc.png" />
                                            </div>
                                            <div class="tab-content_3">
                                                <div class="image_caption">
                                                    <span>3.</span>
                                                    <p>Mit nur einem Klick bewerben</p>
                                                </div>
                                                <img src="../assets/images/undraw_personal_file_222m.png" />
                                            </div>
                                        </div>
                                    </div>

                                    <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
                                        <div class="tab_wrp">
                                            <div class="tab-content_1">
                                            <p>
                                                Drei einfache Schritte zu deinem neuen Job
                                            </p>
                                            <img src="../assets/images/undraw_Profile_da.png" />
                                                <div class="image_caption">
                                                   <span>1.</span>
                                                   <p>Erstellen dein Unternehmensprofil</p>
                                                </div>
                                            </div>
                                            <div class="tab-content_2">
                                                <div class="image_caption">
                                                    <span>2.</span>
                                                    <p>Erstellen ein Jobinserat</p>
                                                </div>
                                                <img src="../assets/images/undraw_about_me_wa29.png" />
                                            </div>
                                            <div class="tab-content_3">
                                                <div class="image_caption">
                                                <span>3.</span><p>Wähle deinen neuen Mitarbeiter aus</p>
                                                </div>
                                                <img src="../assets/images/undraw_swipe_profiles1_i6mr.png" />
                                            </div>
                                        </div>
                                    </div>
                                    <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
                                        <div class="tab_wrp">
                                            <div class="tab-content_1">
                                            <p>
                                                Drei einfache Schritte zu deinem neuen Job
                                            </p>
                                            <img src="../assets/images/undraw_Profile_da.png" />
                                                <div class="image_caption">
                                                    <span>1.</span><p>Erstellen dein Unternehmensprofil</p>
                                                </div>
                                            </div>
                                            <div class="tab-content_2">
                                                <div class="image_caption">
                                                    <span>2.</span><p>Erhalte Vermittlungs- angebot von Arbeitgeber</p>
                                                </div>
                                                <img src="../assets/images/undraw_job_offers_kw5d.png" />
                                            </div>
                                            <div class="tab-content_3">
                                                <div class="image_caption">
                                                    <span>3.</span><p>Vermittlung nach Provision oder Stundenlohn</p>
                                                </div>
                                                <img src="../assets/images/undraw_business_deal_cpi9.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .circle-css{
    top: -37px;
    left: -37px;
    width: 168px;
    height: 168px;
    background: #FF0000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    }
    .text-css{
    position: relative;
    top: 200px;
    left: 141px;
    /*border-radius: 135px;*/
    width: 240px;
    height: 360px;
    text-align: left;
    font: normal normal normal 75px/90px Lato;
    letter-spacing: 2.25px;
    color: #319795;
    opacity: 1;
    }
    .circle-css{
    top: -40px;
    left: -40px;
    width: 168px;
    height: 168px;
    background: #FF0000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 100px;
    position: absolute;
    }

    /*28-6-2021*/

    
    .tab-btn-color{
        background: #81E6D9 0% 0% no-repeat padding-box;
        border-radius: 0px 12px 12px 0px;
        opacity: 1;
    }

    .btn-color{
        background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box !important;
        border-radius: 15px;
    }

    .hero_title h1 {
    color: #2D3748;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
    padding: 20px 0;
    }

    .tab_title  .tab-content_1  p {
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    margin: 0 65px;
    color: #4A5568;
    }

    .tab_title  .tab-content_1 > img, .tab_title .tab-content_2 img, .tab-content_3 img{
    margin: 0px auto;
    margin-bottom: -70px;
    margin-top: 20px;
    }

    .tab_list_wrp ul li {
    margin: 0;
    
    }

    .tab_list_wrp ul li a {
    box-shadow: none;
    border-top: 1px solid;
    border-radius: inherit;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #CBD5E0;
    }

    .image_caption {
    font-size: 15.75px;
    color: #718096;
    display: flex;
    align-items: baseline;
    }

    .tab_title .image_caption span{
        font-size: 115px;
        color: #718096;
        margin-right: 11px;
        position: relative;
    }
    .tab_title .image_caption p{
        text-align: left;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    }

    .tab-content_2 .image_caption{
        margin-left: 30px;
    }

    .tab-content_3 span {
    margin-left: 35px;
    margin-right: 25px !important;
    }
    .tab-content_3 p {
    bottom: 30px;
    position: relative;
}

    .tab-content_3{
        margin: 40px 0;
    }

    .tab-content_3 img{
        margin-top: 0px;
    }

    .tab-content_3 .image_caption{
        margin-bottom: -15px;
    }

    .tab_list_wrp ul{
        margin-left: 20px;
    }

    .tab_list_wrp ul li:first-child{
        border-radius: 12px 0 0 12px;
        border-left: 1px solid #CBD5E0;
    }
    .tab_list_wrp ul li:last-child{
        border-radius: 0px 12px 12px 0px;

    }
    .tab_wrp{
        padding: 0 15px;
        background-image: url("../assets/images/tab-bg_01.png");
    }
    .hero_banner_button{
        padding-bottom: 64px;
        border-radius: 10px;
        box-shadow: 0px -1px 3px #00000033;
    }
    .title_bg{background: #e8fafc;}
    .hero_title{position: relative;background: #e8fafc;}


@media only screen and (max-width: 575px) {
  .tab_list_wrp ul{margin: 0;padding: 15px 20px;}
  .tab_list_wrp ul li a {font-size: 12px;padding: 10px 10px;}
}

</style>
<script>
    export default {
      name: "pink-tabs",
      data() {
        return {
          openTab: 1
        }
      },
      methods: {
        toggleTabs: function(tabNumber){
          this.openTab = tabNumber
        }
      }
    }
</script>