<template>
    <div class="container">
        <div class="circle-css"></div>
        <div class="w-full p-6">
            <div class="text-css">
                Test Mobile Index ALL
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>


<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.circle-css{
    top: -37px;
    left: -37px;
    width: 168px;
    height: 168px;
    background: #FF0000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.text-css{
    position: relative;
    top: 200px;
    left: 141px;
    /*border-radius: 135px;*/
    width: 240px;
    height: 360px;
    text-align: left;
    font: normal normal normal 75px/90px Lato;
    letter-spacing: 2.25px;
    color: #319795;
    opacity: 1;
}
.circle-css{
    top: -40px;
    left: -40px;
    width: 168px;
    height: 168px;
    background: #FF0000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 100px;
    position: absolute;}


</style>
